<div id="<%= dom_id post %>" class="post-container">
  <p>
    <%= post.title %>
  </p>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= post.keywords %>
  </p>
  
  <p>
    <%= link_to "", post, class: "post-link" %>
  </p>
  <% 
#=begin 
%>
  <%= post.images.each do |image| %>
    <%= image_tag(image, style: "object-fit: cover; 
    width: 300px; height: 300px;") %>
  <% end %>
<%
#=end
%>
</div>
